# Kopieer dit bestand naar ".env" (in dezelfde map als docker-compose.yml)
# en pas de waarde aan als jouw meldkamerstack niet op het netwerk
# "docker_default" draait.
#
# Naam verifiëren met:
#   docker inspect meldkamer_db --format '{{json .NetworkSettings.Networks}}'
MELDKAMER_NETWORK=docker_default
